.material-modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    display: flex;
    position: absolute;
    width: 40%;
    height: 30%;
    padding-left: 32px;
    padding-right: 32px;
    background-color: white;
}
