.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.register-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-button {
    padding-top: 3%;
}
